:root {
  --color-green: #0f6f2e;
  --color-light-green: #4caf50;
  --color-grey: #787878;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-636363: #636363;
  --color-5C5C5C: #5c5c5c;
  --color-0F6F2E: #0f6f2e;
  --color-FF9900: #ff9900;
}

/* #region MEDIA */

@media (max-width: 1919.6px) {
  .bunner__title {
    font-size: 5.88vw;
  }

  .bunner__subtitle {
    font-size: 2.08vw;
  }

  .runner__text {
    font-size: 2.6vw;
  }

  .cases__wrapper {
    height: 87vw;
    gap: 3% 1.5%;
  }

  .case {
    width: 32.59%;
    gap: 0.7vw;
  }

  .case__img-wrap {
    width: 100%;
  }

    .case__img-wrap {
    width: 100%;
  }

  .case__desc {
    width: 100%;
    width: 99%;
  }

  .big-mail__link {
    font-size: 6.8vw;
  }

  .video__box {
    height: 46.51vw;
  }

  .cases-page__img-wrap {
    width: 31vw;
    height: 17vw;
  }

  .cases-page__container {
    gap: 3vw;
  }
}

@media (max-width: 1720px) {
  .header__container,
  .footer__container {
    padding: 5px 150px;
  }

  .bunner__container {
    padding: 68px 150px 107px;
  }

  .cases__container {
    padding: 68px 150px 68px 0;
  }

  .cases__wrapper {
    height: 100vw;
  }

  .clients__left-block,
  .cases__left-block {
    flex: 0 1 127px;
  }

  .footer__container {
    grid-template-columns: 1fr 250px 260px;
    grid-template-rows: 165px 100px;
  }
}

@media (max-width: 1460px) {
  .header__container,
  .footer__container {
    padding: 5px 100px;
  }

  .bunner__container {
    padding: 68px 100px 107px;
  }

  .clients__container,
  .cases__container {
    padding: 68px 100px;
    flex-flow: column nowrap;
  }

  .case__desc {
    font-size: 14px;
  }

  .clients__right-block,
  .cases__right-block {
    flex: 1 1 auto;
  }

  .cases__left-block {
    flex-flow: column nowrap;
    align-items: start;
  }

  .clients__title,
  .cases__title {
    writing-mode: unset;
    transform: none;
    height: unset;
    position: relative;
    top: 0;
    left: 0;
  }

  .cases__years {
    writing-mode: unset;
    transform: none;
    height: unset;
    position: relative;
    top: 0;
    left: 0;
  }

  .cases__wrapper {
    height: 103vw;
  }

  .footer__bottom {
    flex-direction: column;
    gap: 20px;
  }

  .footer__developer {
    flex-basis: unset;
  }
}

@media (max-width: 1168px) {
  .header__container,
  .footer__container {
    padding: 5px 50px;
  }

  .bunner__container {
    padding: 68px 50px 107px;
  }

  .clients__container,
  .cases__container {
    padding: 68px 50px;
  }

  .cases__wrapper {
    height: 108vw;
  }

  .burger {
    display: block;
    margin-right: -16px;
    z-index: 100;
  }

  .header__nav {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: calc(100vh - 70px);
    background-color: var(--color-white);
    overflow-y: auto;
    visibility: hidden;
    z-index: 10;
    padding: 0;
    transform: translateY(-120%);
    transition: transform 0.5s ease-in-out, visibility 0.5s ease-in-out;
  }

  .header__nav_active {
    visibility: visible;
    transform: none;
  }

  .nav__list_header {
    height: 100%;
    padding: 0;
    flex-direction: column;
    gap: 38px;
    align-items: center;
    justify-content: center;
  }

  .clients__item {
    width: 209px;
    height: 65px;
  }
}

@media (max-width: 900px) {
  .project-btn {
    width: 199px;
    height: 50px;
    font-size: 16px;
  }

  .clients__title,
  .cases__title {
    font-size: 40px;
  }

  .cases__years {
    font-size: 16px;
  }

  .clients__left-block,
  .cases__left-block {
    flex: 0 1 88px;
  }

  .cases__btn {
    min-height: 36px;
    font-size: 14px;
  }

  .footer__container {
    grid-template-columns: 1fr 170px 170px;
  }

  .footer__contacts {
    align-items: end;
  }

  .nav__link_footer {
    font-size: 15px;
  }

  .contacts__tel {
    font-size: 22px;
  }

  .contacts__watsapp {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .bunner__title {
    font-size: 60px;
  }

  .bunner__subtitle {
    color: var(--color-0F6F2E);
    font-size: 16px;
  }

  .big-mail__link {
    font-size: 9vw;
  }

  .runner__container {
    padding: 22px 0;
  }

  .runner__text {
    font-size: 20px;
  }

  .footer__container {
    grid-template-columns: 1fr 183px 200px;
    grid-template-rows: 158px 100px;
  }

  .header__nav {
    top: 60px;
    height: calc(100vh - 60px);
  }

  .footer__nav {
    padding-top: 56px;
  }

  .footer__contacts {
    padding-top: 44px;
  }

  .header,
  .footer,
  .main {
    padding: 0 30px;
  }

  .header__logo svg {
    max-width: 150px;
    max-height: 37px;
  }

  .header__container,
  .footer__container {
    padding: 6px 0 0;
  }

  .bunner__container {
    padding: 65px 0 107px;
  }

  .clients__container,
  .cases__container {
    padding: 20px 100px 20px 0;

    padding: 35px 0;
  }

  .cases__wrapper {
    height: 123vw;
  }

  .burger {
    margin-right: -10px;
  }

  .footer__top {
    gap: 20px;
  }

  .footer__logo svg {
    max-width: 137px;
    max-height: 37px;
  }

  .footer__bottom {
    gap: 10px;
  }

  .footer__policy {
    font-size: 16px;
  }

  .contacts__mail {
    font-size: 14px;
  }

  .contacts__watsapp {
    margin-bottom: 26px;
  }
}

@media (max-width: 660px) {
  .cases__wrapper {
    height: 125vw;
  }

  .footer__container {
    grid-template-columns: 1fr;
    grid-template-rows: 123px 130px 258px 160px;
  }

  .footer__top,
  .footer__bottom,
  .footer__contacts,
  .nav__list_footer {
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .nav__list_footer {
    gap: 16px;
  }

  .footer__top {
    gap: 32px;
  }

  .footer__nav,
  .footer__bottom {
    order: 1;
  }

  .footer__bottom {
    flex-direction: column-reverse;
    gap: 37px;
  }

  .footer__developer {
    margin-left: 10px;
  }
}

@media (max-width: 560px) {
  .project-btn {
    width: auto;
    margin: 0 auto;
    bottom: 25px;
    right: 13px;
    left: 13px;
    height: 50px;
    font-size: 16px;
    background: var(--color-light-green);
  }

  /* TODO поправить падинги внутри секций, должго быть 13px */

  .video__container {
    padding: 19px 0;
  }

  .clients__container,
  .cases__container {
    padding: 118px 0;
  }

  .cases__wrapper {
    height: 250vw;
  }

  .case {
    width: 50%;
  }

  .case:last-child {
    display: none;
  }

  .clients__item {
    width: 45%;
    height: 51px;
  }
}

/* TODO проверить не задаю ли внешние отсупы бокам, по БЭМ */

@media (max-width: 376px) {
  .cases__wrapper {
    height: 271vw;
  }

  .header,
  .footer,
  .main {
    padding: 0 13px;
  }

  .header__logo svg {
    max-width: 124px;
    max-height: 31px;
  }

  .header__container {
    padding: 9px 0 0;
  }

  .burger {
    padding: 12px 13px 4px;
  }

  .footer__container {
    padding: 26px 0 0;
  }
}

@media (max-width: 350px) {
  .cases__wrapper {
    height: 305vw;
  }
}

@media (max-width: 280px) {
  .cases__wrapper {
    height: 335vw;
  }
}
