:root {
  --color-green: #0f6f2e;
  --color-light-green: #4caf50;
  --color-grey: #787878;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-636363: #636363;
  --color-5C5C5C: #5c5c5c;
  --color-0F6F2E: #0f6f2e;
  --color-FF9900: #ff9900;
  --color-282828: #282828;
}

@media (max-width: 1919.6px) {
  .case-deteil__fact-title {
    font-size: 2.6vw;
  }

  .case-deteil__slider {
    height: 47vw;
  }

  .swiper-pagination-bullet {
    width: 6vw;
  }

  .case-deteil__title {
    font-size: 3.1vw;
  }

  .bunner__title {
    font-size: 5.88vw;
  }

  .case-deteil__video {
    height: 46vw;
  }

  .services-detail__container_bot {
    padding: 91px 33% 150px 295px;
  }

  .bunner__subtitle {
    font-size: 2.08vw;
  }

  .runner__text {
    font-size: 2.6vw;
  }

  .cases__wrapper {
    height: 87vw;
    gap: 3% 1%;
  }

  .case {
    width: 32.59%;
    gap: 0.7vw;
  }

  .case__desc {
    width: 100%;
    width: 99%;
  }

  .contacts-page__bottom {
    gap: 8vw;
    justify-content: space-between;
  }

  .big-mail__link {
    font-size: 6.8vw;
  }

  .work__container {
    gap: 5%;
    justify-content: space-between;
  }

  .work__right {
    padding-top: 10px;
  }

  .agency__img {
    height: 70vw;
  }

  .experience__bottom {
    gap: 7.5vw;
  }

  .cases-page__item {
    flex: 0 0 49%;
  }

  .cases-page__list {
    gap: 2vw 1vw;
  }

  .cases-page__img-wrap {
    margin-bottom: 0;
  }

  .cases-page__container {
    gap: 3vw;
  }
}

@media (max-width: 1870px) {
  .services__list {
    justify-content: space-between;
    gap: 25px 10px;
  }
}

@media (max-width: 1720px) {
  .header__container,
  .footer__container {
    padding: 5px 150px;
  }

  .services-detail__subtitle {
    padding-left: 150px;
  }

  .case-deteil__title {
    flex: none;
  }

  .case-deteil__header {
    padding: 28px 150px 29px;
    flex-flow: column-reverse nowrap;
  }

  .not-found__container {
    padding: 103px 150px 185px;
  }

  .case-deteil__text {
    padding: 32px 150px 90px;
  }

  .case-deteil__facts {
    padding: 90px 150px 90px;
  }

  .case-deteil__link {
    align-self: flex-end;
  }

  .services__container {
    padding: 39px 150px 80px;
  }

  .services-detail__container_top {
    padding: 50px 150px 94px;
  }

  .services-detail__container_bot {
    padding: 86px 33% 150px 150px;
  }

  .services-detail__container_mid {
    padding: 90px 0 94px 0;
  }

  .contacts-page__container {
    padding: 39px 150px 80px;
  }

  .bunner__container,
  .experience__container,
  .work__container {
    padding: 68px 150px 107px;
  }

  .cases__container,
  .cases-page__container {
    padding: 68px 150px 68px 0;
  }

  .team__title {
    position: relative;
    top: unset;
    writing-mode: unset;
    transform: unset;
    font-size: 60px;
  }

  .team__left-block {
    flex: none;
  }

  .team__container {
    padding: 49px 150px 97px;
    flex-flow: column nowrap;
    gap: 106px;
  }

  .man_name {
    font-size: 20px;
  }

  .man_mail {
    font-size: 14px;
  }

  .man_post {
    text-align: end;
    min-height: 34px;
  }

  .team__list {
    gap: 43px 1%;
  }

  .cases__wrapper {
    height: 101vw;
  }

  .clients__left-block,
  .cases__left-block {
    flex: 0 1 127px;
  }

  .footer__container {
    grid-template-columns: 1fr 250px 260px;
    grid-template-rows: 165px 100px;
  }
}

@media (max-width: 1460px) {
  .header__container,
  .footer__container {
    padding: 5px 100px;
  }

  .services-detail__subtitle {
    padding-left: 100px;
  }

  .not-found__subtitle {
    font-size: 6vw;
  }

  .case-deteil__header {
    padding: 28px 100px 29px;
  }

  .not-found__container {
    padding: 103px 100px 185px;
  }

  .case-deteil__text {
    padding: 32px 100px 90px;
  }

  .case-deteil__facts {
    padding: 90px 100px 90px;
  }

  .services-detail__container_top {
    padding: 50px 100px 94px;
  }

  .services-detail__container_bot {
    padding: 86px 33% 150px 100px;
  }

  .services-detail__container_mid {
    padding: 90px 0 94px;
  }

  .services-detail__link-text {
    font-size: 16px;
  }

  .services-detail__title {
    font-size: 30px;
  }

  .services-detail__desc {
    font-size: 14px;
  }

  .services-detail__brif-text {
    font-size: 14px;
  }

  .services-detail__btn {
    font-size: 16px;
  }

  .services-detail__subtitle {
    font-size: 20px;
  }

  .carousel__title {
    font-size: 14px;
    width: 100%;
  }

  .services-detail__link svg {
    width: 19px;
  }

  .services-detail__container_top {
    gap: 17px;
  }

  .services-detail__title {
    margin-bottom: 22px;
  }

  .services-detail__desc {
    margin-bottom: 4px;
  }

  .services-detail__brif-text {
    margin-bottom: 16px;
  }

  .carousel__img-wrap svg {
    width: 20px;
    top: 1px;
    right: 7px;
  }

  .experience__title {
    font-size: 60px;
    line-height: unset;
  }

  .experience__subtitle {
    font-size: 16px;
    color: var(--color-0F6F2E);
    align-self: start;
    margin-bottom: 80px;
  }

  .experience__bottom-title svg {
    width: 160px;
  }

  .experience__bottom-text {
    font-size: 14px;
    max-width: 100%;
    line-height: unset;
    margin-bottom: 53px;
  }

  .experience__link-text {
    font-size: 20px;
  }

  .experience__link {
    padding: 9px 0;
  }

  .experience__link svg {
    width: 20px;
    height: 33px;
  }

  .experience__bottom-title {
    padding-left: 0px;
    margin-bottom: 5px;
  }

  .article__title {
    font-size: 20px;
    margin-bottom: 14px;
  }

  .agency__title {
    font-size: 37px;
    bottom: 25px;
    left: 25px;
    max-width: 215px;
  }

  .work__left {
    gap: 21px;
  }

  .work__right {
    padding-top: 45px;
  }

  .agency__text {
    font-size: 20px;
  }

  .agency__link {
    padding-right: 0;
    gap: 8px;
  }

  .agency__img {
    margin-bottom: 25px;
  }

  .agency__link svg {
    width: 20px;
  }

  .agency__title svg {
    top: 25px;
    right: 4px;
    width: 107px;
  }

  .experience__bottom {
    gap: 38px;
    color: var(--color-5C5C5C);
  }

  .article__desc {
    font-size: 14px;
    line-height: 19px;
  }

  .contacts-page__title {
    font-size: 60px;
  }

  .bunner__container {
    padding: 68px 100px 107px;
  }

  .experience__container {
    padding: 50px 100px 50px;
  }

  .work__container {
    padding: 50px 100px 50px;
  }

  .work__title {
    font-size: 40px;
  }

  .work__left {
    flex: 0 0 100%;
  }

  .work__right {
    flex: 0 0 100%;
  }

  .work__list {
    justify-content: flex-start;
    gap: 37px 5%;
  }

  .work__item {
    flex: 0 0 260px;
  }

  .work__subtitle {
    font-size: 30px;
  }

  .work__desc,
  .work__text {
    font-size: 14px;
    color: var(--color-282828);
  }

  .services__title {
    font-size: 60px;
  }

  .clients__container,
  .cases__container,
  .cases-page__container {
    padding: 68px 100px;
    flex-flow: column nowrap;
  }

  .team__container {
    padding: 49px 100px 97px;
  }

  .services__container {
    padding: 50px 100px 50px;
  }

  .contacts-page__container {
    padding: 39px 100px 80px;
  }

  .services__brif-text,
  .services-detail__brif-text {
    line-height: 130%;
  }

  .card-serv__title {
    font-size: 20px;
    flex: 1 1 25px;
  }

  .card-serv__text {
    font-size: 14px;
  }

  .services__list {
    padding: 0 26px;
    /* gap: 25px 10px; */
  }

  .card-serv__text {
    flex: none;
  }

  .card-serv__right {
    gap: 13px;
    flex: 0 0 250px;
  }

  .services__item {
    flex: 0 0 300px;
  }

  .services__title {
    margin-bottom: 120px;
  }

  .services__item svg {
    width: 45px;
    height: 67px;
    flex-shrink: 0;
    align-self: start;
  }

  .cases-page__select-wrap {
    display: block;
  }

  .cases-page__select-wrap_active svg {
    transform: rotateX(180deg);
  }

  .cases-page__select-wrap svg {
    transition: transform 0.3s ease-in-out;
  }

  .cases-page__filter {
    position: absolute;
    top: 100px;
    padding: 20px 30px 30px 2px;
    visibility: hidden;
    gap: 10px;
    opacity: 0;
    width: 100%;
    height: calc(100vh - 100px);
    overflow: auto;
    z-index: 200;
    background-color: var(--color-white);
    transition: visibility 0.8s ease-in-out, opacity 0.8s ease-in-out,
      transform 0.8s ease-in-out;
  }


  .filter__item_active::after {
    content: none;
  }

  .filter__item {
    max-width: 400px;
  }

  .cases-page__filter_active {
    transform: perspective(300px) translate(0, 0) rotateX(0);
    visibility: visible;
    opacity: 1;
  }

  .cases-page__filter-wrap {
    flex: none;
  }

  .cases-page__container {
    position: relative;
  }

  .cases-page__select-wrap {
    display: flex;
  }

  .cases-page__img-wrap {
    margin-bottom: 16px;
  }

  .case__title {
    font-size: 14px;
  }

  .clients__right-block,
  .cases__right-block {
    flex: 1 1 auto;
  }

  .cases__left-block {
    flex-flow: column nowrap;
    align-items: start;
  }

  .clients__title,
  .cases__title {
    writing-mode: unset;
    transform: none;
    height: unset;
    position: relative;
    top: 0;
    left: 0;
  }

  .cases__years {
    writing-mode: unset;
    transform: none;
    height: unset;
    position: relative;
    top: 0;
    left: 0;
  }

  .cases__wrapper {
    height: 108vw;
  }

  .footer__bottom {
    flex-direction: column;
    gap: 20px;
  }

  .footer__developer {
    flex-basis: unset;
  }

  .contacts-page__tel,
  .contacts-page__mail {
    font-size: 25px;
  }

  .contacts-page__watsapp {
    font-size: 14px;
  }

  .contacts-page__desc {
    font-size: 14px;
  }

  .contacts-page__container {
    gap: 107px;
  }

  .contacts-page__town {
    font-size: 20px;
  }

  .contacts-page__office {
    font-size: 14px;
  }

  .contacts-page__link {
    text-transform: uppercase;
  }

  .contacts-page__top {
    gap: 12px;
  }

  .contacts-page__bottom {
    gap: 3vw;
  }

  .contacts-page__bot-right {
    width: 350px;
    gap: 26px;
  }

  .contacts-page__watsapp {
    margin-bottom: 50px;
  }

  .big-mail__link {
    border-bottom: 5px solid var(--color-black);
  }

  .agency__container {
    padding: 47px 0 20px;
}

.agency__logo {
  margin-bottom: 43px;
}
}

@media (max-width: 1168px) {
  .header__container,
  .footer__container,
  .cases-page__container {
    padding: 5px 50px;
  }

  .services-detail__subtitle {
    padding-left: 50px;
  }

  .case-deteil__header {
    padding: 28px 50px 29px;
  }

  .not-found__container {
    padding: 103px 50px 185px;
  }

  .case-deteil__text {
    padding: 32px 50px 90px;
  }

  .case-deteil__title {
    font-size: 30px;
  }

  .case-deteil__facts {
    padding: 90px 50px 90px;
  }

  .services-detail__container_top {
    padding: 50px 50px 94px;
  }

  .services-detail__container_bot {
    padding: 86px 33% 150px 50px;
  }

  .services-detail__container_mid {
    padding: 90px 0 94px 0;
  }

  .team__container {
    padding: 49px 50px 97px;
  }

  .experience__container {
    padding: 50px 50px 50px;
  }

  .work__container {
    padding: 50px 50px 50px;
  }

  .services__container {
    padding: 50px 50px 50px;
  }

  .contacts-page__container {
    padding: 39px 50px 80px;
  }

  .bunner__container {
    padding: 68px 50px 107px;
  }

  .clients__container,
  .cases__container {
    padding: 68px 50px;
  }

  .cases__wrapper {
    height: 118vw;
  }

  .work__list {
    gap: 37px 10%;
  }

  .burger {
    display: block;
    margin-right: -16px;
    z-index: 100;
  }

  .header__wite-block {
    z-index: 90;
  }

  .header__nav {
    padding: 39px 75px;
    position: absolute;
    top: 67px;
    left: 0;
    width: 100%;
    background-color: var(--color-white);
    overflow-y: auto;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-120%);
    transition: transform 0.5s ease-in-out, visibility 0.5s ease-in-out,
      opacity 0.5s ease-in-out;
  }

  .header__nav_active {
    visibility: visible;
    transform: none;
    opacity: 1;
  }

  .nav__list_header {
    justify-content: space-between;
    gap: 15px;
  }

  .clients__item {
    width: 209px;
    height: 65px;
  }

  .cases-page__filter {
    top: 40px;
    height: calc(100vh - 200px);
  }
}

@media (max-width: 900px) {
  .project-form__title {
    font-size: 30px;
  }

  .project-form__subtitle {
    font-size: 16px;
  }

  .project-form__input::placeholder {
    font-size: 18px;
  }

  .project-form__select-title {
    font-size: 18px;
  }

  .project-form__label_textarea {
    font-size: 18px;
    margin-bottom: 41px;
  }

  .project-form__textarea {
    font-size: 21px;
  }

  .project-form__textarea::placeholder {
    font-size: 15px;
  }

  .project-form__subtitle {
    font-size: 16px;
  }

  .project-form__wrapper {
    gap: 16px;
  }

  .project-form__subtitle {
    margin-bottom: 53px;
  }

  .project-form__subtitle_buttons {
    margin-bottom: 0;
    font-size: 18px;
  }

  .project-form__submit {
    font-size: 25px;
  }

  .project-form__btns {
    margin-bottom: 15px;
  }

  .case-deteil__container {
    padding: 4px 0 150px 0;
  }

  .not-found__subtitle {
    font-size: 60px;
  }

  .case-deteil__header {
    gap: 17px;
  }

  .not-found__title {
    line-height: 200px;
    margin-bottom: 42px;
  }

  .not-found__text {
    font-size: 16px;
  }

  .not-found__link {
    font-size: 16px;
  }

  .not-found__container {
    padding: 76px 0 135px;
  }

  .case-deteil__title {
    line-height: 34px;
  }

  .case-deteil__text {
    font-size: 14px;
  }

  .case-deteil__fact-text {
    font-size: 14px;
  }

  .case-deteil__facts {
    flex-flow: column nowrap;
    gap: 30px;
  }

  .case-deteil__link {
    font-size: 16px;
  }

  .project-btn {
    width: 199px;
    height: 50px;
    font-size: 16px;
  }

  .case-deteil__fact {
    flex: none;
  }

  .cases-page__img-wrap svg {
    width: 19px;
    top: 2px;
    right: 8px;
  }

  .clients__title,
  .cases__title {
    font-size: 40px;
  }

  .experience__bottom {
    flex-flow: column nowrap;
  }

  .experience__bottom-right {
    flex-flow: row nowrap;
    gap: 25px;
  }

  .experience__article {
    flex: 1 1 auto;
  }

  .experience__bottom-right {
    justify-content: space-between;
  }

  .cases__years {
    font-size: 16px;
  }

  .clients__left-block,
  .cases__left-block {
    flex: 0 1 88px;
  }

  .cases-page__list {
    gap: 2vw 1vw;
  }

  .cases__btn {
    min-height: 36px;
    font-size: 14px;
  }

  .footer__container {
    grid-template-columns: 1fr 170px 200px;
  }

  .footer__contacts {
    align-items: end;
  }

  .nav__link_footer {
    font-size: 15px;
  }

  .contacts__tel {
    font-size: 22px;
  }

  .contacts__watsapp {
    font-size: 13px;
  }

  .cases-page__title {
    color: rgb(92, 92, 92);
    font-size: 14px;
    line-height: 110%;
    text-transform: uppercase;
    min-height: unset;
  }

  .case-deteil__slider {
    position: relative;
    height: 61vw;
    margin-bottom: 52px;
  }

  .swiper-pagination-bullet {
    width: 7.5vw;
    height: 3px;
  }

  .swiper-pagination {
    bottom: 14px !important;
  }

  .swiper-button-prev svg,
  .swiper-button-next svg {
    display: none;
  }

  .swiper-button-prev {
    position: absolute;
    top: 4%;
    left: 0;
    width: 30%;
    height: 65vw;
  }

  .swiper-button-next {
    position: absolute;
    top: 4%;
    right: 0;
    width: 30%;
    height: 65vw;
  }

  .case-deteil__photo {
    flex: 1 1 45%;
    padding-bottom: 33%;
  }

  .case-deteil__photo-list {
    gap: 4px 10px;
  }

  .modal__title {
    font-size: 30px;
  }

  .modal__subtitle {
    font-size: 16px;
    max-width: 415px;
    margin-bottom: 40px;
  }
}

@media (max-width: 768px) {

  .project-btn__wrap {
    padding: 0 31px;
  }

  .header__wite-block {
    height: 52px;
  }

  .header__nav {
    padding: 39px 30px;
    top: 52px;
  }

  .main {
    margin-top: 62px;
  }

  .case-deteil__video {
    height: 58vw;
  }

  .case-deteil__fact-title {
    font-size: 20px;
  }

  .case-deteil__header {
    padding: 28px 0 7px;
  }

  .case-deteil__text {
    padding: 32px 0 80px;
  }

  .case-deteil__facts {
    padding: 78px 0 78px;
  }

  .carousel__img {
    width: 45vw;
  }

  .services-detail__subtitle {
    margin-bottom: 30px;
  }

  .services-detail__container_top {
    padding: 30px 0 76px;
  }

  .services-detail__container_mid {
    padding: 80px 0 73px 0;
  }

  .services-detail__container_bot {
    padding: 81px 0 80px 0;
  }

  .cases-page__container {
    padding: 0 0 77px;
    gap: 0;
  }

  .team__container {
    padding: 59px 0 97px;
  }

  .work__container {
    padding: 38px 0 78px;
  }

  .services__container {
    padding: 58px 0 72px;
  }

  .contacts-page__container {
    padding: 58px 0 118px;
  }

  .services__container_brif {
    padding: 80px 0 77px;
  }

  .services__container_bot {
    padding: 80px 0 80px;
  }

  .bunner__title {
    font-size: 60px;
  }

  .work__item {
    gap: 19px;
  }
  .work__list {
    gap: 37px calc(25% - 60px);
  }

  .bunner__subtitle {
    color: var(--color-0F6F2E);
    font-size: 16px;
  }

  .big-mail__link {
    font-size: 9vw;
    border-bottom: 3px solid var(--color-black);
  }

  .runner__container {
    padding: 27px 0;
  }

  .video__container {
    padding: 15px 0;
  }

  .runner__text {
    font-size: 20px;
  }

  .footer__container {
    grid-template-columns: 1fr 144px 200px;
    grid-template-rows: 158px 100px;
  }

  .footer__nav {
    padding-top: 56px;
  }

  .footer__contacts {
    padding-top: 60px;
    gap: 5px;
  }

  .header,
  .footer,
  .main {
    padding: 0 30px;
  }

  .header__logo svg {
    max-width: 150px;
    max-height: 37px;
  }

  .agency__img {
    height: 66vw;
  }

  .header__container {
    padding: 6px 0 0;
  }

  .agency__logo svg {
    width: 100%;
    height: max-content;
  }

  .footer__container {
    padding: 28px 0 0;
  }

  .services-detail__subtitle {
    padding-left: 0;
  }

  .experience__container {
    padding: 52px 0 51px;
    gap: 18px;
  }

  .bunner__container {
    padding: 53px 0 107px;
    gap: 21px;
  }

  .cases__container {
    padding: 80px 0;
  }

  .clients__list {
    gap: 34px 38px;
  }

  .clients__item {
    width: 210px;
    height: 62px;
  }

  .clients__container {
    padding: 43px 0 84px;
  }

  .big-mail__container {
    padding: 83px 0 97px;
    gap: 23px;
  }

  .case__title {
    padding: 0;
  }

  .cases__wrapper {
    height: 136vw;
  }

  .burger {
    margin-right: -12px;
  }

  .footer__top {
    gap: 20px;
    margin-bottom: 20px;
  }

  .footer__logo svg {
    max-width: 137px;
    max-height: 37px;
  }

  .footer__bottom {
    gap: 10px;
  }

  .footer__policy {
    font-size: 16px;
  }

  .contacts__mail {
    font-size: 14px;
  }

  .contacts__watsapp {
    margin-bottom: 26px;
  }

  .services-detail__carousel {
    margin-left: -30px;
  }
}

@media (max-width: 680px) {
  .not-found__subtitle {
    font-size: 8vw;
  }

  .not-found__title {
    line-height: 200px;
    margin-bottom: 42px;
    font-size: 20vw;
  }

  .not-found__link {
    font-size: 15px;
  }

  .not-found__text {
    font-size: 14px;
  }

  .carousel__list {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
  }
  .contacts-page__bottom {
    flex-flow: column nowrap;
  }

  .contacts-page__link {
    font-size: 15px;
  }

  .contacts-page__container {
    gap: 119px;
  }

  .contacts-page__container {
    padding: 76px 0 145px;
  }

  .contacts-page__bottom {
    gap: 79px;
  }

  .contacts-page__tel,
  .contacts-page__mail {
    font-size: 30px;
  }

  .team__list {
    justify-content: space-between;
  }

  .carousel__item {
    flex: 1 1 100%;
  }

  .carousel__img {
    width: 100%;
    object-fit: contain;
  }

  .carousel__list {
    width: 100%;
    gap: 29px;
  }

  .services-detail__container_mid {
    margin-right: 0;
    margin-left: 0;
  }

  .carousel__link {
    gap: 15px;
  }

  .services-detail__container_bot {
    gap: 18px;
  }

  .services-detail__about {
    font-size: 12px;
  }

  .man {
    flex: 0 0 49.5%;
  }

  .team__container {
    gap: 99px;
  }

  .team__container {
    padding: 77px 0 97px;
  }

  .main {
    margin-top: 44px;
  }

  .cases-page__title {
    min-height: unset;
  }

  .cases-page__container {
    padding: 0 0 147px;
  }

  .experience__container {
    padding: 76px 0 77px;
    gap: 8px;
  }

  .experience__subtitle {
    margin-bottom: 107px;
  }

  .experience__bottom-text {
    margin-bottom: 74px;
  }

  .experience__bottom-text {
    max-width: 95%;
    line-height: 127%;
    margin-bottom: 50px;
  }

  .agency__link {
    justify-content: flex-start;
  }

  .work__item {
    max-width: 100%;
    flex: 0 0 100%;
    gap: 17px;
  }

  .experience__bottom-right {
    flex-flow: column nowrap;
    gap: 41px;
  }

  .article__desc {
    max-width: unset;
  }

  .cases-page__list {
    padding-top: 21px;
    flex-flow: column nowrap;
    gap: 33px;
  }

  .footer__container {
    grid-template-columns: 1fr;
    grid-template-rows: 123px 130px 200px 160px;
  }

  .big-mail__container {
    padding: 80px 0 96px;
  }

  .footer__bottom,
  .footer__contacts,
  .nav__list_footer {
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .footer__container {
    grid-gap: 19px;
  }

  .footer__top {
    align-items: center;
    gap: 32px;
  }

  .nav__list_footer {
    gap: 16px;
  }

  .footer__nav,
  .footer__bottom {
    order: 1;
  }

  .footer__nav {
    padding-top: 19px;
  }

  .footer__bottom {
    flex-direction: column-reverse;
    gap: 37px;
  }

  .footer__developer {
    margin-left: 10px;
  }

  .services-detail__container_bot {
    padding: 81px 0 145px 0;
  }
}

@media (max-width: 560px) {

  .services__list {  
    flex-flow: column nowrap;  
    gap: 27px;
  }

  .services__item {
    flex: none;
}


  .modal__title {
    font-size: 30px;
  }

  .modal__subtitle {
    font-size: 14px;
    max-width: 265px;
    margin-bottom: 30px;
  }

  .modal__desc {
    font-size: 20px;
  }

  .modal__btn svg {
    width: 14px;
    height: 14px;
  }

  .project-form__close {
    display: block;
    position: absolute;
    top: 50px;
    right: 20px;
    width: 20px;
    height: 20px;
    z-index: 10;
    cursor: pointer;
  }

  .project-form__title {
    font-size: 25px;
  }

  .project-form__subtitle_buttons {
    font-size: 15px;
  }

  .project-form__desc {
    font-size: 13px;
  }

  .project-form__btn {
    width: 100px;
  }

  .project-form__input::placeholder {
    font-size: 15px;
  }

  .project-form__select-title {
    font-size: 15px;
  }

  .project-form__label_textarea {
    font-size: 15px;
  }

  .popup {
    padding-top: 46px;
  }

  .project-form {
    top: 46px;
    padding: 30px 13px;
  }

  .project-form__btn {
    width: 120px;
  }

  .project-form__label_check {
    font-size: 13px;
  }

  .project-form__subtitle {
    font-size: 15px;
  }

  .project-form__submit {
    font-size: 20px;
  }

  .project-form__close {
    top: 27px;
    right: 23px;
  }

  .project-form__subtitle {
    margin-bottom: 45px;
  }

  .project-form__inputs {
    display: flex;
    flex-flow: column nowrap;
    gap: 24px;
  }

  .project-form__inputs {
    margin-bottom: 34px;
  }

  .project-form__select-wrap {
    margin-bottom: 36px;
  }

  .project-form__textarea::placeholder {
    font-size: 14px;
  }

  .project-form__textarea {
    font-size: 27px;
  }

  .project-form__label_textarea {
    margin-bottom: 36px;
  }

  .project-form__subtitle_buttons {
    margin-bottom: 0;
  }

  .project-form__wrapper {
    margin-bottom: 19px;
  }

  .project-form__btn {
    font-size: 16px;
  }

  .project-form__btn {
    padding: 0;
    height: 35px;
  }

  .project-form__select-wrap {
    max-width: 90vw;
  }

  .project-form {
    padding: 10px;
  }

  .project-form__label_textarea {
    max-width: 80vw;
  }

  .project-form__label_check {
    line-height: 120%;
  }

  .project-form__btns {
    margin-bottom: 19px;
  }

  .project-form__label_check {
    margin-bottom: 49px;
  }

  .header__nav {
    position: absolute;
    top: 60px;
    height: calc(100vh - 60px);
    top: 50px;
    left: 0;
    width: 100%;
    height: calc(100vh - 70px);
    background-color: var(--color-white);
    overflow-y: auto;
    visibility: hidden;
    z-index: 10;
    padding: 0;
    transform: translateY(-120%);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out,
      visibility 0.5s ease-in-out;
  }

  .header__nav_active {
    visibility: visible;
    transform: none;
  }

  .nav__list_header {
    height: 100%;
    padding: 0;
    flex-direction: column;
    gap: 38px;
    align-items: center;
    justify-content: center;
  }

  .services-detail__container_top {
    padding: 23px 0 76px;
  }

  .services-detail__link {
    margin-bottom: 7px;
  }

  .services-detail__btn {
    max-width: 100%;
  }

  .case-deteil__link {
    align-self: flex-start;
  }

  .case-deteil__header {
    padding: 19px 0 7px;
  }

  .case-deteil__header {
    gap: 25px;
  }

  .case-deteil__text {
    padding: 32px 0 101px;
  }

  .case-deteil__facts {
    padding: 82px 0 78px;
  }

  .swiper-pagination {
    bottom: 4px !important;
  }

  .swiper-pagination-bullet {
    width: 15.5vw;
  }

  .case-deteil__photo-list {
    gap: 8px;
  }

  .case-deteil__photo {
    flex: 1 1 100%;
    padding-bottom: 67%;
  }

  .project-btn {
    width: auto;
    margin: 20px 0;
    top: 84vh;
    min-height: 50px;
    font-size: 16px;
    background: var(--color-light-green);
  }

  .video__container {
    padding: 19px 0;
  }

  .big-mail__link {
    font-size: 9vw;
    border-bottom: 3px solid var(--color-black);
  }

  .cases__container {
    padding: 118px 0 82px;
  }

  .agency__title {
    font-size: 18px;
    max-width: 110px;
    bottom: 9px;
    left: 13px;
  }

  .agency__title svg {
    top: 4px;
    right: 8px;
    width: 52px;
  }

  .services__container_top {
    padding: 77px 0 90px;
  }

  .card-serv__right {
    flex: 0 0 245px;
  }

  .services__brif-text {
    font-size: 14px;
    line-height: 153%;
  }

  .services-detail__brif-text {
    font-size: 13px;
    line-height: 153%;
  }

  .services__about {
    font-size: 12px;
    line-height: 145%;
  }

  .services__container_bot {
    padding: 80px 0 151px;
  }

  .services-detail__container_mid {
    padding: 84px 0 79px 0;
  }

  .card-serv__text {
    flex: none;
  }
  .services__item {
    gap: 11px;
  }

  .services__title {
    margin-bottom: 66px;
  }

  .clients__container {
    padding: 43px 0 78px;
  }

  .clients__list {
    gap: 31px 0px;
    justify-content: space-between;
  }

  .bunner__container {
    padding: 75px 0 100px;
  }

  .cases__wrapper {
    height: 250vw;
    gap: 1% 1%;
  }

  .case__img-wrap {
    width: 96%;
  }

  .case__img-wrap svg {
    width: 10px;
    top: 1px;
    right: 14px;
  }

  .case__title {
    min-height: 40px;
  }

  .case {
    width: 50%;
  }

  .case:last-child {
    display: none;
  }

  .clients__item {
    width: 45%;
    height: 51px;
  }

  .header,
  .footer,
  .main {
    padding: 0 13px;
  }

  .project-btn__wrap {
    padding: 0 13px;
  }
}

@media (max-width: 470px) {
.cases__wrapper {
    height: 260vw;
}
}

@media (max-width: 376px) {

  .burger {
    width: 45px;
    height: 40px;
  }

  .man_post {
    text-align: end;
    min-height: 34px;
    font-size: 3.7vw;
  }

  .header__wite-block {
    height: 46px;
  }
  .contacts-page__bot-right {
    width: 100%;
  }

  .not-found__container {
    padding: 90px 0 200px;
  }

  .cases__wrapper {
    height: 265vw;
  }

  .not-found__title {
    line-height: 60px;
    margin-bottom: 42px;
    font-size: 60px;
  }

  .not-found__subtitle {
    margin-bottom: 26px;
  }

  .not-found__text {
    line-height: 16px;
  }

  .not-found__link {
    font-size: 16px;
  }

  .header__logo svg {
    max-width: 124px;
    max-height: 31px;
  }

  .header__container {
    padding: 9px 0 0;
  }

  .burger {
    padding: 12px 13px 4px;
  }

  .footer__container {
    padding: 26px 0 0;
  }

  .experience__title {
    font-size: 16vw;
  }

  .services-detail__carousel {
    margin-left: 0;
    width: 100%;
  }

  .carousel__list {
    gap: 24px;
  }
}

@media (max-width: 350px) {
  .cases__wrapper {
    height: 270vw;
  }
}

@media (max-width: 330px) {
  .cases__wrapper {
    height: 280vw;
  }
}

@media (max-width: 280px) {
  .cases__wrapper {
    height: 300vw;
  }
}
