/* #region FONTS */
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Light"),
    url("../fonts/Montserrat-Light.woff2") format("woff2"),
    url("../fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Regular"),
    url("../fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Medium"),
    url("../fonts/Montserrat-Medium.woff2") format("woff2"),
    url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-SemiBold"),
    url("../fonts/Montserrat-SemiBold.woff2") format("woff2"),
    url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Bold"),
    url("../fonts/Montserrat-Bold.woff2") format("woff2"),
    url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "News Cycle";
  src: local("News-Cycle-Regular"),
    url("../fonts/News-Cycle-Regular.woff2") format("woff2"),
    url("../fonts/News-Cycle-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "News Cycle";
  src: local("News-Cycle-Bold"),
    url("../fonts/News-Cycle-Bold.woff2") format("woff2"),
    url("../fonts/News-Cycle-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("Inter-Regular"),
    url("../fonts/Inter-Regular.woff2") format("woff2"),
    url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Arimo";
  src: local("Arimo-Regular"),
    url("../fonts/Arimo-Regular.woff2") format("woff2"),
    url("../fonts/Arimo-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Plovdiv";
  src: local("Plovdiv-Sans"), url("../fonts/Plovdiv-Sans.woff2") format("woff2"),
    url("../fonts/Plovdiv-Sans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* #endregion FONTS */
/* ---------- */
/* #region ALL */

/* TODO основные цвета занести в переменные */

:root {
  --color-green: #0f6f2e;
  --color-light-green: #4caf50;
  --color-grey: #787878;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-636363: #636363;
  --color-5C5C5C: #5c5c5c;
  --color-0F6F2E: #0f6f2e;
  --color-FF9900: #ff9900;
  --color-E9E9E9: #E9E9E9;
  --color-4CAF50: #4caf50;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  font-family: "News Cycle", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: var(--color-black);
  background-color: var(--color-white);
}

a {
  color: var(--color-black);
  text-decoration: none;
}

img {
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn {
  display: inline-block;
  padding: 15px 25px;
  color: var(--color-white);
  background-color: var(--color-black);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn:focus-visible,
.btn:hover {
  color: var(--color-black);
  background-color: var(--color-white);
  outline: none;
}

.btn:active {
  color: var(--color-black);
  background-color: var(--color-green);
  outline: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  max-width: 1870px;
  margin: 0 auto;
}

/* #endregion ALL */
/* ---------- */
/* #region HEADER */

.header,
.footer {
  padding: 0 25px;
}

.header__container {
  padding: 5px 295px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-E9E9E9);
}

.header__logo svg {
  max-width: 220px;
}

.nav {
  padding-top: 32px;
}

.nav__list {
  display: flex;
  margin: 0;
  gap: 60px;
  list-style: none;
  text-transform: uppercase;
}

.burger {
  padding: 13px;
  display: none;
}

.nav__link {
  transition: color 0.3s ease-in-out;
}

.nav__link:focus-visible {
  outline: none;
  outline-offset: 5px;
  outline: 2px solid var(--color-light-green);
}

.nav__link:hover {
  outline: none;
  color: var(--color-light-green);
}

.nav__link:active {
  color: var(--color-black);
  outline: none;
}

.nav__link:active::after {
  background-color: var(--color-E1670E);
}

.burger__line {
  width: 20px;
  height: 1.5px;
  background-color: var(--color-black);
  display: block;
  margin: 4px auto;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.burger_active .burger__line:nth-child(2) {
  opacity: 0;
}

.burger_active .burger__line:nth-child(1) {
  transform: translateY(5.5px) rotate(45deg); /*сумма высоты линии и маргина между линиями*/
}

.burger_active .burger__line:nth-child(3) {
  transform: translateY(-5.5px) rotate(-45deg);
}

/* TODO прибраться в css */
/* #endregion HEADER */
/* ---------- */
/* #region main */

.project-btn {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 239px;
  height: 50px;
  background: var(--color-black);
  color: var(--color-white);
  font-family: Montserrat;
  font-weight: 500;
  text-transform: uppercase;
  z-index: 100;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.project-btn:hover {
  background-color: var(--color-white);
  color: var(--color-black); 
  border: 1px solid var(--color-black); 
}

.project-btn:active {
  background-color: var(--color-4CAF50);
  color: var(--color-white); 
  border: 1px solid var(--color-4CAF50); 
}

.main {
  padding: 0 25px;
}

/* #region BUNNER */

.bunner__container {
  padding: 187px 295px 148px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  border-bottom: 1px solid var(--color-E9E9E9);
}

.bunner__subtitle {
  margin: 0;
}

/* TODO нати и заменить шрифты news cicle */

.bunner__title {
  margin: 0;
  color: var(--color-black);
  font-size: 113px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
}

.bunner__subtitle {
  color: var(--color-4CAF50);
  font-size: 40px;
}

/* #endregion BUNNER */
/* ---------- */
/* #region RUNNER */

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 50px));
  }
}

/* TODO сократить код, объеденить похожие свойства */

.runner__container {
  padding: 57px 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 50px;
  border-bottom: 1px solid var(--color-E9E9E9);  
  overflow: hidden;
}

.runner__list {
  flex-shrink: 0;
  gap: 50px;
  display: flex;
  animation: scroll 10s linear infinite;
}

.runner__wrap {
  flex-shrink: 0;
  display: flex;
  gap: 50px;
  flex-flow: row nowrap;
  align-items: center;
}

.runner__text {
  margin: 0;
  color: var(--color-black);
  font-family: Montserrat;
  font-size: 50px;
  text-transform: uppercase;
  white-space: nowrap;
}

.runner__text_1 {
  opacity: 0.3;
}

.runner__text_2 {
  font-weight: 500;
  opacity: 0.5;
}

.runner__text_3 {
  font-weight: 600;
  opacity: 0.7;
}

.runner__text_4 {
  font-weight: 700;
}

/* #endregion RUNNER */
/* ---------- */
/* #region video */

.video__container {
  padding: 24px 0;
  width: 100%;
  border-bottom: 1px solid var(--color-E9E9E9);
}

.video__box {
  width: 100%;
  height: 893px;
  background-image: url("../../assets/img/clideo_editor_.gif");
  background-size: 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
}

/* #endregion video */
/* ---------- */
/* #region cases */

.cases__container {
  padding: 101px 295px 86px 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  gap: 27px;
  border-bottom: 1px solid var(--color-E9E9E9);
}

.cases__title {
  position: sticky;
  bottom: 150px;
  left: 0;
  margin: 0;
  height: 200px;
  color: var(--color-black);
  font-size: 90px;
  font-weight: 400;
  text-transform: uppercase;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  margin-right: -5px;
}

.cases__years {
  position: sticky;
  bottom: 150px;
  left: 0;
  padding-top: 7px;
  margin: 0;
  height: 200px;
  color: var(--color-5C5C5C);
  font-size: 25px;
  font-weight: 400;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

.cases__left-block {
  display: flex;
  align-items: flex-end;
  flex: 0 0 268px;
  width: 268px;
}

.clients__right-block,
.cases__right-block {
  flex: 1 1 1280px;
}

.cases__wrapper {
  display: flex;
  flex-flow: column wrap;
  height: 1672px;
  gap: 50px 18px;
}

.case {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  gap: 18px;
  width: 414px;
}

.case svg {
  position: absolute;
  top: 15px;
  right: 15px;
}

.case__desc {
  margin: 0;
  width: 100%;
  color: var(--color-5C5C5C);
  font-size: 20px;
  text-align: left;
  text-transform: uppercase;
}

.cases__btn {
  width: 100%;
  min-height: 54px;
  border: 1px solid var(--color-black);
  color: var(--color-black);
  font-family: Montserrat;
  font-weight: 500;
  text-transform: uppercase;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.cases__btn:hover {
  background-color: var(--color-4CAF50);
  color: var(--color-white);
  border: 1px solid var(--color-4CAF50);;
}

.cases__btn:active {
  background-color: var(--color-black);
  color: var(--color-white);
  border: 1px solid var(--color-black);

}

/* #endregion cases */
/* ---------- */
/* #region clients */

.clients__container {
  padding: 101px 295px 100px 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  gap: 27px;
  border-bottom: 1px solid var(--color-E9E9E9);
}

.clients__left-block {
  flex: 0 1 268px;
}

.clients__right-block {
  flex-grow: 1;
}

.clients__title {
  margin: 0;
  color: var(--color-black);
  font-size: 90px;
  font-weight: 400;
  text-transform: uppercase;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  margin-top: 36px;
}

.clients__list {
  margin: 0;
  padding: 0;
  max-width: 1320px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 49px 19px;
  list-style: none;
}

.clients__item {
  width: 305px;
  height: 95px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.clients__item_1 {
  background-image: url("../../assets/img/client1.png");
  transition: background-image 0.3s ease-in-out
}
.clients__item_2 {
  background-image: url("../../assets/img/client2.png");
    transition: background-image 0.3s ease-in-out
}
.clients__item_3 {
  background-image: url("../../assets/img/client3.png");
    transition: background-image 0.3s ease-in-out
}
.clients__item_4 {
  background-image: url("../../assets/img/client4.png");
    transition: background-image 0.3s ease-in-out
}
.clients__item_5 {
  background-image: url("../../assets/img/client5.png");
    transition: background-image 0.3s ease-in-out
}
.clients__item_6 {
  background-image: url("../../assets/img/client6.png");
    transition: background-image 0.3s ease-in-out
}
.clients__item_7 {
  background-image: url("../../assets/img/client7.png");
    transition: background-image 0.3s ease-in-out
}
.clients__item_8 {
  background-image: url("../../assets/img/client8.png");
    transition: background-image 0.3s ease-in-out
}
.clients__item_9 {
  background-image: url("../../assets/img/client9.png");
    transition: background-image 0.3s ease-in-out
}
.clients__item_10 {
  background-image: url("../../assets/img/client10.png");
    transition: background-image 0.3s ease-in-out
}
.clients__item_11 {
  background-image: url("../../assets/img/client11.png");
    transition: background-image 0.3s ease-in-out
}
.clients__item_12 {
  background-image: url("../../assets/img/client12.png");
    transition: background-image 0.3s ease-in-out
}

.clients__item_1:hover {
  background-image: url("../../assets/img/client1x.png");
}
.clients__item_2:hover {
  background-image: url("../../assets/img/client2x.png");
}
.clients__item_3:hover {
  background-image: url("../../assets/img/client3x.png");
}
.clients__item_4:hover {
  background-image: url("../../assets/img/client4x.png");
}
.clients__item_5:hover {
  background-image: url("../../assets/img/client5x.png");
}
.clients__item_6:hover {
  background-image: url("../../assets/img/client6x.png");
}
.clients__item_7:hover {
  background-image: url("../../assets/img/client7x.png");
}
.clients__item_8:hover {
  background-image: url("../../assets/img/client8x.png");
}
.clients__item_9:hover {
  background-image: url("../../assets/img/client9x.png");
}
.clients__item_10:hover {
  background-image: url("../../assets/img/client10x.png");
}
.clients__item_11:hover {
  background-image: url("../../assets/img/client11x.png");
}
.clients__item_12:hover {
  background-image: url("../../assets/img/client12x.png");
}

/* #endregion clients */
/* ---------- */
/* #region big-mail */

.big-mail__container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 53px;
  padding: 94px 0 150px;
}

.big-mail__text {
  margin: 0;
  color: var(--color-black);
  font-size: 20px;
  text-transform: uppercase;
}
.big-mail__link {
  margin: 0;
  font-family: Montserrat;
  font-size: 128px;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: 10px solid var(--color-black);
  transition: border-bottom 0.3s ease-in-out, color 0.3s ease-in-out;

}

.big-mail__link:hover {
  color: var(--color-4CAF50);
  border-bottom: 10px solid var(--color-4CAF50);
}

/* #endregion big-mail */
/* ---------- */
/* #region FOOTER */

.footer__container {
  display: grid;
  padding: 11px 295px;
  grid-template-columns: 1fr 380px 260px;
  grid-template-rows: 165px 55px;
}

.footer__top {
  display: flex;
  flex-direction: column;
  gap: 37px;
}

.footer__nav {
  padding-top: 24px;
}

.nav__list_footer {
  gap: 18px;
  flex-direction: column;
}

.contacts {
  padding-top: 37px;
  display: flex;
  flex-direction: column;
}

.contacts__desc {
  color: var(--color-grey);
  font-family: Montserrat;
  font-size: 15px;
  margin: 0;
  margin-bottom: 12px;
}

.contacts__tel {
  margin-bottom: 20px;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 11px;
}

.contacts__watsapp {
  margin-bottom: 20px;
  color: var(--color-0F6F2E);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
}

.contacts__mail {
  font-family: Montserrat;
  font-size: 20px;
}

.footer__bottom {
  display: flex;
  justify-content: start;
}

.footer__developer {
  flex-basis: 48%;
}

.footer__policy {
  margin: 7px 0 0;
  color: #b1b1b1;
  font-size: 18px;
}

.logo__vk-link:hover svg path {
  fill: var(--color-light-green);
}

.footer__developer:hover svg path {
  fill: var(--color-5C5C5C);
}

.logo__vk-link svg path,
.footer__developer svg path {
  transition: fill 0.3s ease-in-out;
}

.footer__policy:hover,
.contacts__watsapp:hover,
.contacts__watsapp:active {
  color: var(--color-5C5C5C);
}

.contacts__tel:hover,
.contacts__mail:hover {
  color: var(--color-0F6F2E);
}

.contacts__tel:active,
.contacts__mail:active {
  color: var(--color-light-green);
}

.footer__policy,
.contacts__tel,
.contacts__watsapp,
.contacts__mail {
  transition: color 0.3s ease-in-out;
}

/* #endregion FOOTER */

